# Data and outputs
data/
outputs/
cheating_codebase.zip

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs and environments
.vscode/
.idea/
.env
venv/
env/
.ipynb_checkpoints/
